<%= render 'shared/navbar' %>
<div class="container mt-5">

<section class="bg-gradient bg-primary-gradient ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Save Any Kind of Movies</h1>
      </div>
    </div>
  </div>
</section>

  <h1>All lists</h1>
  <ul>
    <% @lists.each do |list| %>
      <li> <%= link_to list.name, list_path(list)  %></li>
    <% end %>
  </ul>

  <%= link_to 'Create List', new_list_path, class: 'btn btn-primary' %>
</div>
