<div class="container mt-5">
  <%= simple_form_for @list, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
    <%= f.input :name, label_html: { class: 'col-sm-2 control-label' }, input_html: { class: 'form-control' } %>
    <%= f.button :submit, 'Create List', class: 'btn btn-primary mt-3' %>
  <% end %>

  <%= link_to 'View Lists', lists_path, class: "btn btn-secondary mt-3" %>
</div>

