// Import page-specific CSS files here.
@import "home";

// Custom styles
.bg-gradient {
  // background-color: #F1F2EC;
  height: 400px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
}

.bg-gradient h1 {
  color: black;
  font-weight: bold;
  font-size: 32px;
}
